@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';
@import 'libs/animate';

@import 'base/variables';
@import 'base/animations';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 10px;
}
@media (max-width: 1440px) {
    .container {
        max-width: 950px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 950px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'blocks/media';
