@media (max-width: 1440px) {
    .catalog {
        &-item {
            width: 296px;
        }
    }
}

@media (max-width: 1200px) {
    .advantages {
        &__item {
            max-width: 200px;
        }
    }
    .carousel {
        &__inner {
            width: 700px;
        }
    }
    .catalog {
        &__content {
            justify-content: center;
        }
        &-item {
            &:nth-child(1n) {
                margin-right: 20px;
            }
        }
        
    }
}

@media (max-width: 992px) {
    .carousel {
        ul {
            position: absolute;
            display: block;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
            li[class="slick-active"] button {
                background-color: #d01010;
                width: 20px;
                height: 20px;
            }
            li {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 30px 15px 0 15px;
                padding: 0;
                cursor: pointer;
                button {
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 15px;
                    height: 15px;
                    padding: 5px;
                    cursor: pointer;
                    border-radius: 100%;
                    border: 0;
                    outline: none;
                    background-color: rgba(0, 0, 0, .5);
                    &:focus {
                        background-color: rgba(0, 0, 0, 1);
                        outline: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        justify-content: space-around;
        &__official {
            display: none;
        }
    }
    .advantages {
        &__subtitle {
            margin-top: 20px;
            font-size: 15px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 13px;
        }
        &__item {
            width: 164px;
        }
    }
    .title_left {
        font-size: 29px;
    }
    .consultation {
        padding-top: 60px;
    }
    .carousel {
        padding-bottom: 120px;
        &__inner {
            width: 530px;
        }
        &__img {
            width: 530px;
        }
        ul {
            li {
                margin-top: 30px;
            }
        }
    }
    .catalog {
        &__tabs {
            margin-top: 50px;
        }
    }
    .feed {
        &__img {
            width: 110px;
            height: 110px;
        }
        &__text {
            margin-left: 20px;
            padding-right: 5px;
        }
        &__descr {
            font-size: 13px;
        }
        &__subtitle {
            font-size: 15px;
        }
    }
    .footer {
        height: 480px;
        &__info {
            padding: 20px 15px;
            width: 315px;
            height: 165px;
        }
        &__addr {
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__phone {
            font-size: 19px;
            margin-bottom: 25px;
        }
        &__social {
            &-item {
                width: 35px;
                height: 35px;
                img {
                    height: 18px;
                }
            }
        }
        iframe {
            height: 480px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        flex-direction: column;
        &__logo {
            width: 190px;
        }
        &__contacts {
            margin-top: 20px;
        }
        &__phone {
            display: block;
            font-size: 15px;
            margin: 0 auto;
        }
    }
    .promo {
        padding-bottom: 40px;
        &__header {
            font-size: 23px;
        }
        &__wrapper {
            margin-top: 60px;
            align-items: center;
        }
        &__subheader {
            margin-top: 5px;
            font-size: 23px;
            text-align: center;
        }
        &__icons {
            justify-content: center;
            width: 290px;
        }
        &__icon {
            font-size: 12px;
            &_bottom {
                margin-bottom: 50px;
            }
            img {
                width: 40px;
            }
        }
        .button_main {
            width: 270px;
            height: 45px;
        }
    }
    .advantages {
        padding: 20px 0 35px 0;
        .title {
            font-size: 20px;
        }
        &__wrapper {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 200px;
            &:nth-child(2) {
                margin-top: 30px;
            }
            &:nth-child(3) {
                margin-top: 30px;
            }
        }
    }
    .consultation {
        padding: 40px 0 40px 0;
        min-height: 460px;
        .title_left {
            font-size: 19px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 15px;
        }
        .feed-form {
            width: 275px;
            input {
                height: 35px;
            }
            .button_submit {
                height: 45px;
            }
        }
    }
    .carousel {
        padding-bottom: 85px;
        &__inner {
            width: 290px;
        }
        &__img {
            width: 290px;
        }
        ul {
            li[class="slick-active"] button {
                width: 10px;
                height: 10px;
            }
            li {
                margin: 10px 5px 0 5px;
                button {
                    width: 10px;
                    height: 10px;
                }
            }
        }
        .slick-list {
            height: 265px;
        }
    }
    .catalog {
        padding-bottom: 30px;
        .title {
            font-size: 20px;
        }
        &__tabs {
            margin-top: 25px;
            flex-direction: column;
        }
        &__tab {
            margin-top: 10px;
            width: 210px;
            height: 40px;
            font-size: 14px;
            line-height: 40px;
        }
        &-item {
            &:nth-child(1n) {
                margin-right: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        &__content {
            margin-top: 50px;
        }
    }
    .feed {
        .title {
            font-size: 24px;
        }
        &__item {
            margin-top: 40px; 
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__text {
            margin-top: 20px;
            text-align: center;
        }
    }
    .footer {
        &__info {
            width: 265px;
            height: 170px;
        }
    }
    .pageup {
        opacity: 0;
    }
    .modal {
        padding: 20px 15px 20px 20px;
        width: 290px;
        min-height: 325px;
        &__close {
            top: -40px;
            right: 0px;
        }
        .feed-form {
            input {
                height: 35px;
                width: 250px;
            }
            .button_submit {
                width: 250px;
                height: 45px;
            }
        }
    }
}